.navbar {
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #d9d9d9;
    height: 85px;
    padding-left: 81px;
}

.navbarcontainer {
    /* border: 1px solid red; */
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {    
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 68px;
    
}

.index{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.dk {
    display: flex;    
    font-size: 32px;
    color: #005A4F;    
}

ul {
    display: flex; 
    justify-content: center;
    align-items: center;
    list-style: none;
    /* border: 1px solid red; */
}

.menu {
    display: flex;    
}

.menu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
}

.menu2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 425px;
}

.menu ul li a {    
    display: flex;
    font-size: 22px;
    color: #2B6B46;
    text-decoration: none;
    /* font-family: 'Prompt', sans-serif;          */
}

.fav {
    font-weight: bold;    
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 61px;
    background: #D9D9D9;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(121, 157, 123, 0.8);
}
