@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@800&family=Prompt:wght@400;800&display=swap');

*{
  font-family: 'Prompt', sans-serif !important; 
}

body {
  margin: 0; 
  padding: 0;
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


